    </div>
    <hr>
    <div id="navbar footer fixed-bottom">
      <div class="container-fluid">
        <p class="text-muted credit"> This website is open-source and available on <i class="bi bi-github" width="22" height="22" fill="currentColor"></i> <a href="https://github.com/bl831/bl831-web">Github</a>.</p>
        <p>
          <img class="float-right" src="/assets/images/DOE-logo.png" height="50px" href="https://science.osti.gov/ber"/>
          <img class="float-right" src="/assets/images/NIH-logo.png" height="50px" href="https://www.nih.gov"/>
          <img class="float-right" src="/assets/images/ALS-logo.png" height="80px" href="https://als.lbl.gov"/>
          <img class="float-right" src="/assets/images/LBNL-logo.png" height="80px" href="https://www.lbl.gov"/>
        </p>
        
      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

    <!-- Boostrap custom JS stuff -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
