@import "{{ site.theme }}";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

// h3 {
//     color: rgb(165, 47, 47);
// }

h2 {
    margin-top: 10px;
}

body {
     padding-top: 70px;
}

.responsive {
    width: 100%;
    max-width: 1000px;
    height: auto;
  }

.navbar ul li {
    list-style-image: none;
}

.navbar-dark .navbar-brand {
    color: rgb(140, 194, 207);
}

#mcfuser-status {
    background-color: white;
}
